<!DOCTYPE html>

<html  >

<head>

    <title></title>

</head>

<body>
<h1>회원 수정</h1>
<table  border="1" >
<tr>
<td><a href="/user/list">회원목록</a> <!-- 자료 입력으로 이동 ()--></td>
<td><a href="/user/insert">회원생성</a> <!-- 자료 입력으로 이동 ()--></td>
</tr>
</table>
<form method="post">
<fieldset>
<table border=1>
<tr>
    <td><label>회원ID</label></td>
    <td><input type="text" name="USER_ID" value= "<% data.USER_ID %>"/></td>
</tr>
<tr>
    <td><label>회원비밀번호</label></td>
    <td><input type="text" name="USER_PASSWORD" value= "<% data.USER_PASSWORD %>"/></td>
</tr>
<tr>
    <td><label>회원 이름</label></td>
    <td><input type="text" name="USER_NAME" value= "<% data.USER_NAME %>"/></td>
</tr>
<tr>
    <td><label>회원 Email</label></td>
    <td><input type="text" name="USER_EMAIL" value= "<% data.USER_EMAIL %>"/></td>
</tr>
<tr>
    <td><label>회원 phone</label></td>
    <td><input type="text" name="USER_PHONE" value= "<% data.USER_PHONE %>"/></td>
</tr>

</table>
<input type="submit" value="수정" />
<table width="100%" border="1">
<tr>
<th>edit</th>
<th>delete</th>
<th>회원ID</th>
<th>회원비밀번호</th>
<th>회원 이름</th>
<th>회원 Email</th>
<th>회원 phone</th>
<th>회원 DID</th>

</tr>
<% data.forEach(function(item,index){ %>  <!-- 스크립트 언어-->
<tr>
<td><a href="/user/edit/<%=item.USER_ID %>">edit</a></td>
<td><a href="/user/delete/<%=item.USER_ID %>">delete</a></td>
<td><%= item.USER_ID %></td>  <!-- 값 추출-->
<td><%= item.USER_PASSWORD %></td>
<td><%= item.USER_NAME %></td>
<td><%= item.USER_EMAIL %></td>
<td><%= item.USER_PHONE %></td>
<td><%= item.USER_DID %></td>
</tr>
<%}); %>
</table>
</fieldset>
</form>


</body>

</html>

